.card-image-container {
  width: 33%;
  border: 1px solid gray;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}

img {
  max-width: 400px;
}
.description {
  overflow-wrap: break-word;
  text-align: center;
}
